<!DOCTYPE html>
<html lang="en">
  {% load staic %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
  .veget {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 150px;
  text-shadow: 5px 5px 10px green;
}
#heading {
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
}
body{
  background-image: url("{% static 'images/box.jpg' %}"); 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: cover;
}
</style>
<body>
          <nav>
            <div class="flex flex-row  h-fix w-fix p-2 text-2xl text-slate-300">
                <button type="button" class="basis-1/4 box-border h-22 w-40 p-2 font-mono hover:bg-green-400 cursor-progress" ><a href="./homepage.php"><b>Home</b></a></button>
                <button type="button" class="basis-1/4 box-border h-32 w-40 p-2 text-center font-mono hover:bg-green-400  cursor-progress"><a href="./market.php"><b>Market</b></a></button>
                <button type="button" class="basis-1/4 box-border h-32 w-40 p-2 text-center font-mono hover:bg-green-400  cursor-progress"><a href="Contactus.php"><b>Contact Us</b></a></button>
                <button type="button" class="basis-1/4 box-border h-32 w-40 p-2 text-center font-mono hover:bg-green-400  cursor-progress"><a href="Aboutus.php"><b>About Us</b></a></button>
              </div>
        </nav><br>
        <div class="veget">
        <h1 id="heading" class="text-slate-300"> Veget Store</h1>
</div>
    
</body>
</html>